
body{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,rgba(59, 52, 30, 0.678), rgba(54, 37, 0, 0.726));
}


.container{
width: 600px;
height: 600px;
display:flex;
flex-direction: column;
border: 1px solid black;
box-shadow: 0 9px 18px rgb(0 0 0 / 16%), 0 9px 18px rgb(0 0 0 / 23%);
position: absolute;
/* display: none; */
}
.end{
    width: 600px;
height: 300px;
display:flex;
align-items: center;
justify-content: center;
border-radius: 40px;
color: aliceblue;
border: 1px solid black;
box-shadow: 0 9px 18px rgb(0 0 0 / 16%), 0 9px 18px rgb(0 0 0 / 23%);
background-color: #786037;
position: absolute;
display: none;
}
.endText{
    text-align: center;
    font-size: 50px;
}

#start{
width: 600px;
height: 600px;
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
border: 1px solid black;
box-shadow: 0 9px 18px rgb(0 0 0 / 16%), 0 9px 18px rgb(0 0 0 / 23%);
background-color: #786037;
position: relative;
z-index: 2;
/* display: none; */
}
.rank{
    display:flex;
    width: 100%;
    height: 100%;
}
.box{
    
    width: 100%;
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weapon-dragging-class {
	animation: ShakeEffect .75s;
	animation-iteration-count: infinite;
    width: 50px;
}

#draggable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
}

.change-drag {
    width: 50px;
    background-color: transparent;
}
.promotion{
    position: absolute;
    width: 300px;;
    height: 350px;
    
    left: 1400px;
    display: none;
    flex-direction: column;
}
.piece{
    text-align: center;
    border: 1px solid black;
    height: 100%;
    font-size: 50px;
    padding-top: 5px;
    
}
#queen, #bishop{
    background-color: white;
    
}
#rook, #knight{
    background-color: grey;
    
}
.legal,.castle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
}
.legal{
    background-color: red;
}
.castle{
    background-color: #ffee05;
}
#input1{
    font-size: 50px;
    color: white;
    position: relative;
    z-index: 2;
    top:45px;
   
}
#name1{
    font-size: 40px;
    position: relative;
    z-index: 2;
    
    
}
#startButton{
    width: 200px;
    height: 80px;
    background-color: #ffee05;
    z-index: 6;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    position: relative;
    font-size: 45px;
    
}
#input2{
    font-size: 50px;
    color: white;
    position: relative;
    z-index: 2;
    
}
#name2{
    font-size: 40px;
    position: relative;
    z-index: 2;
    top:-45px;
}
#playerOne{
    position: absolute;
   
    
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    position: absolute;
    width: 150px;
    height: 40px;
    color: white;
    background-color: black;
    display: none;
}
#playerTwo{
    position: absolute;
    width: 150px;
    height: 40px;
    color: white;
    background-color: black;
    
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 20px;
    display: none;
}
#denis{
    display: none;
}
